<h1>Exploratory Data Analysis into the files online</h1>

<h1>Summary of Data over the years</h1>

<h2>Generic Info:</h2>
Area field used should be NUTS3/nuts3, for high specificity
we aggregate the points into each NUTS3 bin, then calculate the weights of soil characteristics. Plot by NUTS3 locality in part 2

<h2>2009 data:</h2>
"Resources\LUCAS datasets\LUCAS 2009\LUCAS_21681_points\NoSensitive.csv"

Columns:
POINT_ID|"sample_ID"|"X_LAEA"|"Y_LAEA"|"coarse"|"clay"|"silt"|"sand"|"pH_in_H2O"|"pH_in_CaCl"|"OC"|"CaCO3"|"N"|"P_x"|"K"|"CEC"|"Notes"|"GPS_LAT"|"GPS_LONG"|"X"|"Country"|"PTotal"|"Corine_LU"|"coords_x1"|"coords_x2"|"SURV_DATE"|"LC1"|"LC-parent"|"LC-Group"|"LC2"|"OBS_RADIUS"|"LU1"|"LU2"|"LC1_SPECIE"|"LC1_PERCEN"|"LC2_SPECIE"|"LC2_PERCEN"|"AREA_SIZE"|"TREES_HEIG"|"FEATURES_W"|"LAND_MNGT"|"WM_WATER_M"|"WM_SRC_IRR"|"WM_TYP_IRR"|"WM_DELIVER"|"SOIL_SURVE"|"SOIL_PLOUG"|"SOIL_CROP"|"SOIL_STONE"|"STRATA"|"STRATA2"|"nuts3"|"nuts0"|"area0"|"nuts1"|"area1"|"nuts2"|"area2"|"area3"|"Transect"|"CLIMANR"|"MAIN_CLIMA"|"LC"|"lc_GROUP"|"WRB_COD"|"AnnualPrec"|"WRB_LV1"|"ParMat1"|"ParMat2"|"Elevation(m)"|"slope (Degrees)"|"LONG"|"LAT"|"geom_X"|"geom_Y"
21,681 Rows

Total Phosphorous (PTotal)
"Resources\LUCAS datasets\LUCAS 2009\PTotal_points\PTotal2009.csv"

Columns:
POINT_ID|"PTotal"|"Country"|"LONG"|"LAT"|"geom_X"|"geom_Y"
21,859 Rows

<u>_(1) Compare a list of Point IDs (join / merge) in csv file. Combine PTotal for points that have PTotal into the NoSensitive.csv data_</u>

<u>_(2) Compare a list of Point IDs (join / merge) in shp file. Plot (1) into map_</u>

Note: We should look at comparing all the PointID and label by year from each file as "there are 21,859 points, of which 4,246 are at new locations when compared with the 2009/2012 campaigns" i.e. the 21,859 PointIDs in 2009 file may be referring to a different location in the 2015 and onwards file. #Before# joining the data from each year into the data. Thereafter, assigning new PointIDs to these 4,246 locations. "Revisited_point" in 2015 helps to identify these points.

<h2>2015 data</h2>
"Resources\LUCAS datasets\LUCAS 2015\LUCAS2015_topsoildata_20200323\LUCAS_Topsoil_2015_20200323.csv"

Columns:
Point_ID	Revisited_point	Coarse	Clay	Sand	Silt	pH(CaCl2)	pH(H2O)	EC	OC	CaCO3	P	N	K	Elevation	LC1	LU1	Soil_Stones	NUTS_0	NUTS_1	NUTS_2	NUTS_3	LC1_Desc	LU1_Desc
21","859 points

<h2>2018 data</h2>
"Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS-SOIL-2018.csv"

Columns:
Depth	POINTID	pH_CaCl2	pH_H2O	EC	OC	CaCO3	P	N	K	OC (20-30 cm)	CaCO3 (20-30 cm)	Ox_Al	Ox_Fe	NUTS_0	NUTS_1	NUTS_2	NUTS_3	TH_LAT	TH_LONG	SURVEY_DATE	Elev	LC	LU	LC0_Desc	LC1_Desc	LU1_Desc


<h2>Test / Indications of Soil Erosion / Soil Health</h2>

Bulk Density of soil at each depth:
"Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\BulkDensity_2018_final-2.csv"

Level of soil erosion:
"Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS2018_EROSION.csv"

Conditions of Organic Soil (vs other soil being eroded over):
"Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS2018_ORG.csv"

Will need to understand the report methodology to determine what scenario these three data sets are meant to illustrate

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
# filepaths
lucas_2009_soil_shp_path = "..\..\Resources\LUCAS datasets\LUCAS 2009\LUCAS_21681_points\LUCAS_Points.shp"
lucas_2009_PTotal_path = "..\..\Resources\LUCAS datasets\LUCAS 2009\PTotal_points\PTotal2009.shp"
lucas_2015_soil_shp_path = "..\..\Resources\LUCAS datasets\LUCAS 2015\LUCAS2015_topsoildata_20200323\LUCAS_Topsoil_2015_20200323-shapefile\LUCAS_Topsoil_2015_20200323.shp"
lucas_2018_soil_shp_path = "..\..\Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS-SOIL-2018 .shp"

lucas_2009_soil_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2009\LUCAS_21681_points\LUCAS_2009_Soil.csv"
lucas_2009_PTotal_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2009\PTotal_points\PTotal2009.csv"
lucas_2015_soil_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2015\LUCAS2015_topsoildata_20200323\LUCAS_Topsoil_2015_20200323.csv"
lucas_2018_soil_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS-SOIL-2018.csv"

lucas_erosion_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS2018_EROSION.csv"
lucas_bulkdensity_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\BulkDensity_2018_final-2.csv"
lucas_organic_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS2018_ORG.csv"

In [11]:
# read shp files
lucas_2009_soil_shp = gpd.read_file(lucas_2009_soil_shp_path)
lucas_2009_PTotal_shp = gpd.read_file(lucas_2009_PTotal_path)
lucas_2015_soil_shp = gpd.read_file(lucas_2015_soil_shp_path)
lucas_2018_soil_shp = gpd.read_file(lucas_2018_soil_shp_path)

# read csv files

lucas_2009_soil_data = pd.read_csv(lucas_2009_soil_data_path, delimiter=",")
lucas_2009_PTotal_data = pd.read_csv(lucas_2009_PTotal_data_path, delimiter=",")
    
lucas_2015_soil_data = pd.read_csv(lucas_2015_soil_data_path, delimiter=",")
lucas_2018_soil_data = pd.read_csv(lucas_2018_soil_data_path, delimiter=",")

lucas_erosion_data = pd.read_csv(lucas_erosion_data_path, delimiter=",")
lucas_bulkdensity_data = pd.read_csv(lucas_bulkdensity_data_path, delimiter=",")
lucas_organic_data = pd.read_csv(lucas_organic_data_path, delimiter=",")

In [28]:
'''
# Change the delimiter format
lucas_2009_soil_data = pd.read_csv(lucas_2009_soil_data_path, delimiter="|")
lucas_2009_PTotal_data = pd.read_csv(lucas_2009_PTotal_data_path, delimiter="|")
lucas_2009_soil_data.to_csv(lucas_2009_soil_data_path, index=False)
lucas_2009_PTotal_data.to_csv(lucas_2009_PTotal_data_path, index=False)
'''

In [ ]:
def visualise_maps():
    fig, ax = plt.subplots(3, figsize=(30,30))    
    fig.suptitle("LUCAS Soil Data", fontdict={"size":"25"})
    ax[0].axis("off")    
    ax[0].set_title("2009 Soil Samples Collected")
    lucas_2009_soil_shp.plot(ax=ax[0], markersize=1)
    
    ax[1].axis("off")
    ax[1].set_title("2015 Soil Samples Collected")
    lucas_2015_soil_shp.plot(ax=ax[1], markersize=1)

    ax[2].axis("off")
    ax[2].set_title("2018 Soil Samples Collected")
    lucas_2018_soil_shp.plot(ax=ax[2], markersize=1)

In [ ]:
def compare_columns(df1, df2):
    print(df1.columns)
    print(df2.columns)
    column_df = pd.DataFrame({"df1": df1.columns})
    column_df = column_df.join(pd.DataFrame({"df2": df2.columns}))
    print(column_df)

compare_columns(lucas_2009_soil_data, lucas_2009_PTotal_data)

Index([',POINT_ID,sample_ID,X_LAEA,Y_LAEA,coarse,clay,silt,sand,pH_in_H2O,pH_in_CaCl,OC,CaCO3,N,P_x,K,CEC,Notes,GPS_LAT,GPS_LONG,X,Country,PTotal,Corine_LU,coords_x1,coords_x2,SURV_DATE,LC1,LC-parent,LC-Group,LC2,OBS_RADIUS,LU1,LU2,LC1_SPECIE,LC1_PERCEN,LC2_SPECIE,LC2_PERCEN,AREA_SIZE,TREES_HEIG,FEATURES_W,LAND_MNGT,WM_WATER_M,WM_SRC_IRR,WM_TYP_IRR,WM_DELIVER,SOIL_SURVE,SOIL_PLOUG,SOIL_CROP,SOIL_STONE,STRATA,STRATA2,nuts3,nuts0,area0,nuts1,area1,nuts2,area2,area3,Transect,CLIMANR,MAIN_CLIMA,LC,lc_GROUP,WRB_COD,AnnualPrec,WRB_LV1,ParMat1,ParMat2,Elevation(m),slope (Degrees),LONG,LAT,geom_X,geom_Y,YEARS_AGO'], dtype='object')
Index([',POINT_ID,PTotal,Country,LONG,LAT,geom_X,geom_Y'], dtype='object')
                                                 df1  \
0  ,POINT_ID,sample_ID,X_LAEA,Y_LAEA,coarse,clay,...

                                               df2
0  ,POINT_ID,PTotal,Country,LONG,LAT,geom_X,geom_Y

In [4]:
# Create soil df from selected columns
def create_df(col, df1, df2=None):
    if df2 is None:
        try:
            new_df = pd.DataFrame(df1.loc[:,'POINT_ID'])
        except:
            # Convert Point_ID to POINT_ID
            df1.rename({'Point_ID': 'POINT_ID'}, axis='columns', inplace=True)
            new_df = pd.DataFrame(df1.loc[:,"POINT_ID"])
        for x in col[1:]:
            new_df = pd.merge(left=new_df, right=df1.loc[:,['POINT_ID',x]],on=['POINT_ID'])

    else:
        
        for x in col[1:]:
            new_df = pd.concat([df1, df2],axis=1)

    return new_df

In [149]:
# Download microbiome data
import urllib2
import xmltodict

def homepage(request):
    file = urllib2.urlopen('https://ai-for-life-sciences-2.s3.amazonaws.com/')
    data = file.read()
    file.close()

    data = xmltodict.parse(data)
    print(data)
    return render_to_response('my_template.html', {'data': data})

ModuleNotFoundError: No module named 'urllib2'

<h1>On 2009 Data</h1>

<h2>On 2009 Soil Data</h2>


_**lucas_2009_soil_data already contains the same PTotal values as in lucas_2009_PTotal_data. No need for additional merging**_

Columns:
<br> 'POINT_ID', 'sample_ID', 'X_LAEA', 'Y_LAEA',
<br> 'coarse', 'clay', 'silt', 'sand',
<br> 'pH_in_H2O', 'pH_in_CaCl', 'OC', 'CaCO3', 'N', 'P_x', 'K', 'CEC', 'Notes',
<br> 'GPS_LAT', 'GPS_LONG', 'X',
<br> 'Country', 'PTotal',
<br> 'Corine_LU', 'coords_x1', 'coords_x2', 'SURV_DATE',
<br> 'LC1', 'LC-parent', 'LC-Group', 'LC2', 'OBS_RADIUS', 'LU1', 'LU2', 'LC1_SPECIE',
<br> 'LC1_PERCEN', 'LC2_SPECIE', 'LC2_PERCEN', 'AREA_SIZE', 'TREES_HEIG',
<br> 'FEATURES_W', 'LAND_MNGT', 'WM_WATER_M', 'WM_SRC_IRR', 'WM_TYP_IRR',
<br> 'WM_DELIVER', 'SOIL_SURVE', 'SOIL_PLOUG', 'SOIL_CROP', 'SOIL_STONE',
<br> 'STRATA', 'STRATA2', 'nuts3', 'nuts0', 'area0', 'nuts1', 'area1',
<br> 'nuts2', 'area2', 'area3', 'Transect', 'CLIMANR', 'MAIN_CLIMA', 'LC',
<br> 'lc_GROUP', 'WRB_COD', 'AnnualPrec', 'WRB_LV1', 'ParMat1', 'ParMat2',
<br> 'Elevation(m)', 'slope (Degrees)', 'LONG', 'LAT', 'geom_X', 'geom_Y'

POINT_ID = retain as column 1
<br> sample_ID, X_LAEA, Y_LAEA = drop. Included in coordinates
<br> 'coarse', 'clay', 'silt', 'sand' = retain. % of type of soil at that location
<br> 'pH_in_H2O', 'pH_in_CaCl', 'OC', 'CaCO3', 'N', 'P_x', 'K', 'CEC', 'Notes' = retain. All soil chemical qualities (non-erosion based indicator of soil quality)

'GPS_LAT', 'GPS_LONG', 'X' = X, unsure what it corresponds to. Drop if possible
<br> 'Country', 'PTotal', = retain
<br> 'Corine_LU', 'coords_x1', 'coords_x2', 'SURV_DATE' = drop
<br> 'LC1',  = retain
<br> 'LC-parent','LC-Group' = drop
<br> 'OBS_RADIUS' = drop
<br> 'LU1' = retain
<br> 'LU2', 'LC1_SPECIE', 'LC1_PERCEN', 'LC2_SPECIE', 'LC2_PERCEN','AREA_SIZE', 'TREES_HEIG',= drop
DROP THE NEXT COLUMNS UNTIL:
<br>'nuts3' = retain
<br>'WRB_LV1' = retain
<br> 'ParMat1','ParMat2' = retain, for types of rocks present
<br> 'Elevation(m)', 'slope (Degrees)' = retain, and map to location info

<h3>Land Cover Data Classification (throughout the years)</h3>  
<br> (A00) artificial land  
<br> (B00) cropland  
<br> (C00) woodland  
<br> (D00) shrubland  
<br> (E00) grassland  
<br> (F00) bare land  
<br> (G00) water  
<br> (H00) wetland

In [101]:
# Tagging the results with the "YEARS_AGO" column. 6 for Bulgaria and Romania, 9 for the rest
lucas_2009_soil_data["YEARS_AGO"] = np.where(
    (lucas_2009_soil_data["Country"] == "Bulgaria") | (lucas_2009_soil_data["Country"] == "Romania"),
    6, 9)
lucas_2009_soil_data

,POINT_ID,sample_ID,X_LAEA,Y_LAEA,coarse,clay,silt,sand,pH_in_H2O,pH_in_CaCl,...,WRB_LV1,ParMat1,ParMat2,Elevation(m),slope (Degrees),LONG,LAT,geom_X,geom_Y,YEARS_AGO
0,26521974,17844,2652000.0,1974000.0,8,10,14,76,4.84,3.75,...,Cambisol,consolidated-clastic-sedimentary rocks,psammite or arenite,150,3.433630,-9.36144,38.92962,2652001.148,1973999.191,9
1,26561964,17845,2656000.0,1964000.0,28,41,48,11,7.31,6.81,...,Cambisol,consolidated-clastic-sedimentary rocks,psammite or arenite,154,7.735191,-9.29050,38.85139,2655999.655,1964000.900,9
2,26581768,17641,2658000.0,1768000.0,14,25,29,46,7.40,6.96,...,Luvisol,sedimentary rocks (chemically precipitated/eva...,calcareous rocks,56,0.000000,-8.77525,37.13911,2658000.297,1768000.582,9
3,26581792,17643,2658000.0,1792000.0,18,26,49,25,6.09,5.43,...,Podzol,metamorphic rocks,acid regional metamorphic rocks,16,9.648046,-8.83372,37.34975,2658000.758,1792000.191,9
4,26581954,17846,2658000.0,1954000.0,11,34,37,29,8.21,7.52,...,Vertisol,igneous rocks,basic plutonic rocks,182,4.298638,-9.24210,38.76854,2657999.535,1954001.132,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21676,90000001,31005,6480000.0,1666000.0,5,43,38,20,7.89,7.17,...,NaN,NaN,NaN,45,0.000000,33.82302,35.01154,6479999.932,1665999.803,9
21677,90000002,31089,6482000.0,1664000.0,3,56,25,19,8.28,7.38,...,NaN,NaN,NaN,48,7.039865,33.83823,34.98872,6481999.946,1663999.855,9
21678,90000003,31090,6470000.0,1664000.0,23,26,29,46,8.06,7.45,...,NaN,NaN,NaN,89,2.592406,33.71210,35.02205,6470000.088,1664000.465,9
21679,90000004,31091,6474000.0,1666000.0,10,22,23,55,8.34,7.54,...,NaN,NaN,NaN,55,14.371304,33.75995,35.02822,6474000.234,1666000.560,9
21680,90000005,31088,6484000.0,1662000.0,18,26,37,37,8.16,7.50,...,NaN,NaN,NaN,51,2.024868,33.85343,34.96590,6483999.623,1662000.119,9

In [115]:
# Data on conditions of the place, less soil data
# POINT_ID, 
columns = ['POINT_ID', 'coarse', 'clay', 'silt',
       'sand', 'pH_in_H2O', 'pH_in_CaCl', 'OC', 'CaCO3', 'N', 'K',
       'CEC', 'PTotal', 'LC1', 'LU1', 'nuts3', 'WRB_LV1', 'ParMat1', 'ParMat2', 'YEARS_AGO']

df_2009 = create_df(col=columns, df1=lucas_2009_soil_data)
df_2009

,POINT_ID,coarse,clay,silt,sand,pH_in_H2O,pH_in_CaCl,OC,CaCO3,N,K,CEC,PTotal,LC1,LU1,nuts3,WRB_LV1,ParMat1,ParMat2,YEARS_AGO
0,26521974,8,10,14,76,4.84,3.75,76.5,0.0,3.2,80.1,6.7,126.21,D10,U400,PT171,Cambisol,consolidated-clastic-sedimentary rocks,psammite or arenite,9
1,26561964,28,41,48,11,7.31,6.81,25.3,7.0,2.2,159.8,65.3,367.16,B16,U111,PT171,Cambisol,consolidated-clastic-sedimentary rocks,psammite or arenite,9
2,26581768,14,25,29,46,7.40,6.96,56.9,56.0,5.2,884.0,25.4,1419.24,E30,U400,PT150,Luvisol,sedimentary rocks (chemically precipitated/eva...,calcareous rocks,9
3,26581792,18,26,49,25,6.09,5.43,19.7,2.0,2.0,118.9,6.7,245.45,D20,U400,PT150,Podzol,metamorphic rocks,acid regional metamorphic rocks,9
4,26581954,11,34,37,29,8.21,7.52,14.5,128.0,1.4,227.0,26.9,349.92,B41,U113,PT171,Vertisol,igneous rocks,basic plutonic rocks,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21676,90000001,5,43,38,20,7.89,7.17,11.5,10.0,1.3,882.4,30.2,1170.00,B,MISSING,NaN,NaN,NaN,NaN,9
21677,90000002,3,56,25,19,8.28,7.38,7.1,15.0,1.1,967.2,35.0,1297.00,B,MISSING,NaN,NaN,NaN,NaN,9
21678,90000003,23,26,29,46,8.06,7.45,16.0,60.0,1.4,215.6,27.6,939.00,B,MISSING,NaN,NaN,NaN,NaN,9
21679,90000004,10,22,23,55,8.34,7.54,16.3,91.0,1.4,276.4,21.9,545.00,B,MISSING,NaN,NaN,NaN,NaN,9
21680,90000005,18,26,37,37,8.16,7.50,23.4,88.0,2.2,336.5,27.2,497.00,B,MISSING,NaN,NaN,NaN,NaN,9

In [170]:
# pd.set_option('display.max_rows', 100)
lucas_2009_soil_data.loc[:,['P_x', 'PTotal']]

         P_x   PTotal
0       13.2   126.21
1       12.8   367.16
2      119.8  1419.24
3        0.0   245.45
4       22.5   349.92
...      ...      ...
21676    0.0  1170.00
21677    0.0  1297.00
21678    0.0   939.00
21679    0.0   545.00
21680    0.0   497.00

[21681 rows x 2 columns]

In [162]:
lucas_2009_soil_data['PTotal'].value_counts()

495.03     4
435.96     4
226.71     4
313.16     4
456.08     4
          ..
465.43     1
614.40     1
775.35     1
1206.52    1
497.00     1
Name: PTotal, Length: 19471, dtype: int64

<h1>Building location df</h1>
<h2> 2009 </h2>

In [216]:
columns = ['POINT_ID','Country', 'nuts0', 'nuts1', 'nuts2', 'nuts3', 'LC1', 'LU1', 'Elevation(m)', 'slope (Degrees)', 'Notes']
df_location = create_df(col=columns, df1 = lucas_2009_soil_data)

df_location.rename({'nuts0': 'NUTS_0',
                    'nuts1': 'NUTS_1',
                    'nuts2': 'NUTS_2',
                    'nuts3': 'NUTS_3',
                    'Elevation(m)': 'Elevation',
                    'slope (Degrees)': 'Slope'}, axis='columns', inplace=True)
df_location = df_location[['POINT_ID', 'NUTS_0','NUTS_1','NUTS_2','NUTS_3','LC1','LU1', 'Elevation','Slope', 'Notes']]
df_location

,POINT_ID,NUTS_0,NUTS_1,NUTS_2,NUTS_3,LC1,LU1,Elevation,Slope,Notes
0,26521974,PT,PT1,PT17,PT171,D10,U400,150,3.433630,NaN
1,26561964,PT,PT1,PT17,PT171,B16,U111,154,7.735191,NaN
2,26581768,PT,PT1,PT15,PT150,E30,U400,56,0.000000,NaN
3,26581792,PT,PT1,PT15,PT150,D20,U400,16,9.648046,NaN
4,26581954,PT,PT1,PT17,PT171,B41,U113,182,4.298638,NaN
...,...,...,...,...,...,...,...,...,...,...
21676,90000001,CY,CY0,CY00,NaN,B,MISSING,45,0.000000,NaN
21677,90000002,CY,CY0,CY00,NaN,B,MISSING,48,7.039865,NaN
21678,90000003,CY,CY0,CY00,NaN,B,MISSING,89,2.592406,NaN
21679,90000004,CY,CY0,CY00,NaN,B,MISSING,55,14.371304,NaN
21680,90000005,CY,CY0,CY00,NaN,B,MISSING,51,2.024868,NaN

<h2>2015 Location Data</h2>

In [218]:
columns_2015_loc = ['POINT_ID', 'Elevation', 'LC1', 'LU1',
                    'NUTS_0', 'NUTS_1', 'NUTS_2', 'NUTS_3', 'LC1_Desc','LU1_Desc']
df_location_2015 = create_df(col=columns_2015_loc, df1 = lucas_2015_soil_data)
df_location_2015 = df_location_2015[['POINT_ID', 'NUTS_0', 'NUTS_1', 'NUTS_2', 'NUTS_3', 'LC1', 'LU1',
       'Elevation', 'LC1_Desc', 'LU1_Desc']]
df_location_2015

,POINT_ID,NUTS_0,NUTS_1,NUTS_2,NUTS_3,LC1,LU1,Elevation,LC1_Desc,LU1_Desc
0,34103754,UK,UKM,UKM8,UKM81,H11,U420,158,Inland marshes,Semi-natural and natural areas not in use
1,34443774,UK,UKM,UKM7,UKM77,H12,U420,500,Peatbogs,Semi-natural and natural areas not in use
2,35163814,UK,UKM,UKM7,UKM71,H11,U420,404,Inland marshes,Semi-natural and natural areas not in use
3,32323656,UK,UKN,UKN1,UKN10,H12,U150,364,Peatbogs,OTHER PRIMARY PRODUCTION
4,34463934,UK,UKM,UKM6,UKM61,D20,U111,315,Shrubland without tree cover,Agriculture (excluding fallow land and kitchen...
...,...,...,...,...,...,...,...,...,...,...
21854,45402772,AT,AT3,AT32,AT323,E20,U111,477,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21855,47722672,AT,AT2,AT22,AT224,E20,U111,323,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21856,45882618,AT,AT2,AT21,AT212,E20,U111,630,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21857,45342706,AT,AT3,AT32,AT322,E20,U111,719,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21858,47742660,AT,AT2,AT22,AT224,C10,U120,344,Broadleaved woodland,FORESTRY

In [220]:
common_columns = ['POINT_ID', 'NUTS_0', 'NUTS_1', 'NUTS_2', 'NUTS_3', 'LC1', 'LU1',
       'Elevation']
df_location = pd.merge(df_location, df_location_2015, how='right',
                       on=common_columns)
df_location.to_csv('location data.csv', index=False)
df_location

,POINT_ID,NUTS_0,NUTS_1,NUTS_2,NUTS_3,LC1,LU1,Elevation,Slope,Notes,LC1_Desc_x,LU1_Desc_x,LC1_Desc_y,LU1_Desc_y
0,34103754,UK,UKM,UKM8,UKM81,H11,U420,158,NaN,NaN,Inland marshes,Semi-natural and natural areas not in use,Inland marshes,Semi-natural and natural areas not in use
1,34443774,UK,UKM,UKM7,UKM77,H12,U420,500,NaN,NaN,Peatbogs,Semi-natural and natural areas not in use,Peatbogs,Semi-natural and natural areas not in use
2,35163814,UK,UKM,UKM7,UKM71,H11,U420,404,NaN,NaN,Inland marshes,Semi-natural and natural areas not in use,Inland marshes,Semi-natural and natural areas not in use
3,32323656,UK,UKN,UKN1,UKN10,H12,U150,364,NaN,NaN,Peatbogs,OTHER PRIMARY PRODUCTION,Peatbogs,OTHER PRIMARY PRODUCTION
4,34463934,UK,UKM,UKM6,UKM61,D20,U111,315,NaN,NaN,Shrubland without tree cover,Agriculture (excluding fallow land and kitchen...,Shrubland without tree cover,Agriculture (excluding fallow land and kitchen...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21854,45402772,AT,AT3,AT32,AT323,E20,U111,477,NaN,NaN,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21855,47722672,AT,AT2,AT22,AT224,E20,U111,323,NaN,NaN,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21856,45882618,AT,AT2,AT21,AT212,E20,U111,630,NaN,NaN,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21857,45342706,AT,AT3,AT32,AT322,E20,U111,719,NaN,NaN,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
21858,47742660,AT,AT2,AT22,AT224,C10,U120,344,NaN,NaN,Broadleaved woodland,FORESTRY,Broadleaved woodland,FORESTRY

<h2>2018 location</h2>

In [262]:
'''
['POINT_ID', 'NUTS_0', 'NUTS_1', 'NUTS_2', 'NUTS_3', 'LC1', 'LU1','LC1_Desc','LU1_Desc'
       'Elevation']
'''
# reorder column order of 2018 df for POINTID to be first
df_2018 = lucas_2018_soil_data[['POINTID', 'Depth', 'pH_CaCl2', 'pH_H2O', 'EC', 'OC', 'CaCO3', 'P', 'N',
                                'K', 'OC (20-30 cm)', 'CaCO3 (20-30 cm)', 'Ox_Al', 'Ox_Fe', 'NUTS_0',
                                'NUTS_1', 'NUTS_2', 'NUTS_3', 'TH_LAT', 'TH_LONG', 'SURVEY_DATE',
                                'Elev', 'LC', 'LU', 'LC0_Desc', 'LC1_Desc', 'LU1_Desc']]


df_2018.rename({'POINTID': 'POINT_ID',
                'Elev': 'Elevation',
                'LC':'LC1',
                'LU':'LU1'}, axis='columns', inplace=True)

raw_2018_columns = ['POINT_ID', 'NUTS_0', 'NUTS_1', 'NUTS_2', 'NUTS_3',
                    'LC1', 'LU1','LC1_Desc','LU1_Desc','Elevation']
df_location_2018 = create_df(col=raw_2018_columns, df1=df_2018)
df_location_2018

,POINT_ID,NUTS_0,NUTS_1,NUTS_2,NUTS_3,LC1,LU1,LC1_Desc,LU1_Desc,Elevation
0,47862690,AT,AT1,AT11,AT113,C23,U120,Other coniferous woodland,Forestry,291
1,47882704,AT,AT1,AT11,AT113,C21,U120,Spruce dominated coniferous woodland,Forestry,373
2,47982688,AT,AT1,AT11,AT113,C33,U120,Other mixed woodland,Forestry,246
3,48022702,AT,AT1,AT11,AT113,C22,U120,Pine dominated coniferous woodland,Forestry,305
4,48062708,AT,AT1,AT11,AT113,C22,U120,Pine dominated coniferous woodland,Forestry,335
...,...,...,...,...,...,...,...,...,...,...
18979,32643634,UK,UKN,UKN1,UKN11,E20,U111,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,50
18980,32703676,UK,UKN,UKN1,UKN12,B55,U111,Temporary grassland,Agriculture (excluding fallow land and kitchen...,34
18981,32783608,UK,UKN,UKN1,UKN14,E20,U111,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,50
18982,32783636,UK,UKN,UKN1,UKN13,E20,U370,Grassland without tree/shrub cover,Residential,122
18983,33023682,UK,UKN,UKN1,UKN12,E20,U111,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,143

In [5]:
lucas_2018_soil_data

NameError: name 'lucas_2018_soil_data' is not defined

In [279]:
df_location_test = pd.merge(df_location, df_location_2018, how='outer',
                       on=common_columns)
df_location_test.to_csv('TEST combined location data.csv', index=False)
df_location_test

,POINT_ID,NUTS_0,NUTS_1,NUTS_2,NUTS_3,LC1,LU1,Elevation,Slope,Notes,LC1_Desc_x,LU1_Desc_x,LC1_Desc_y,LU1_Desc_y,LC1_Desc,LU1_Desc
0,34103754,UK,UKM,UKM8,UKM81,H11,U420,158,NaN,NaN,Inland marshes,Semi-natural and natural areas not in use,Inland marshes,Semi-natural and natural areas not in use,NaN,NaN
1,34443774,UK,UKM,UKM7,UKM77,H12,U420,500,NaN,NaN,Peatbogs,Semi-natural and natural areas not in use,Peatbogs,Semi-natural and natural areas not in use,NaN,NaN
2,35163814,UK,UKM,UKM7,UKM71,H11,U420,404,NaN,NaN,Inland marshes,Semi-natural and natural areas not in use,Inland marshes,Semi-natural and natural areas not in use,NaN,NaN
3,32323656,UK,UKN,UKN1,UKN10,H12,U150,364,NaN,NaN,Peatbogs,OTHER PRIMARY PRODUCTION,Peatbogs,OTHER PRIMARY PRODUCTION,NaN,NaN
4,34463934,UK,UKM,UKM6,UKM61,D20,U111,315,NaN,NaN,Shrubland without tree cover,Agriculture (excluding fallow land and kitchen...,Shrubland without tree cover,Agriculture (excluding fallow land and kitchen...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40587,32643634,UK,UKN,UKN1,UKN11,E20,U111,50,NaN,NaN,NaN,NaN,NaN,NaN,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
40588,32703676,UK,UKN,UKN1,UKN12,B55,U111,34,NaN,NaN,NaN,NaN,NaN,NaN,Temporary grassland,Agriculture (excluding fallow land and kitchen...
40589,32783608,UK,UKN,UKN1,UKN14,E20,U111,50,NaN,NaN,NaN,NaN,NaN,NaN,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
40590,32783636,UK,UKN,UKN1,UKN13,E20,U370,122,NaN,NaN,NaN,NaN,NaN,NaN,Grassland without tree/shrub cover,Residential
40591,33023682,UK,UKN,UKN1,UKN12,E20,U111,143,NaN,NaN,NaN,NaN,NaN,NaN,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...

In [280]:
# 47862690 in 
testpoints = df_2009['POINT_ID'].to_list()
testpoints.sort()
testpoints

[26521974,
 26561964,
 26581768,
 26581792,
 26581954,
 26601784,
 26601978,
 26621974,
 26701780,
 26702014,
 26741814,
 26741964,
 26741986,
 26761768,
 26761786,
 26761804,
 26761864,
 26761998,
 26762002,
 26781816,
 26802028,
 26821846,
 26821876,
 26841758,
 26841764,
 26841826,
 26841836,
 26841944,
 26842028,
 26881938,
 26881988,
 26921850,
 26921874,
 26921896,
 26941804,
 26941810,
 26941984,
 26942016,
 26961834,
 26961978,
 26961996,
 26962018,
 27001846,
 27001864,
 27001882,
 27001894,
 27001936,
 27002038,
 27021938,
 27022016,
 27041840,
 27041876,
 27061758,
 27061888,
 27061970,
 27062032,
 27081828,
 27082062,
 27101760,
 27101814,
 27101892,
 27101940,
 27101964,
 27102048,
 27121756,
 27121954,
 27121990,
 27122016,
 27141834,
 27141924,
 27161812,
 27161938,
 27161956,
 27162028,
 27181846,
 27181912,
 27181972,
 27182008,
 27201772,
 27201962,
 27201980,
 27202006,
 27202042,
 27221750,
 27221804,
 27221822,
 27221858,
 27241758,
 27241816,
 27241888,
 27241916,
 27241924,
 27241992,
 27242050,
 27242068,
 27242086,
 27261954,
 27262026,
 27281742,
 27281760,
 27281838,
 27281850,
 27281904,
 27281940,
 27282018,
 27282072,
 27282102,
 27301936,
 27301972,
 27301980,
 27302020,
 27302044,
 27321748,
 27321784,
 27322072,
 27341880,
 27341920,
 27341952,
 27361828,
 27361846,
 27361930,
 27361954,
 27362062,
 27381884,
 27381890,
 27381902,
 27381916,
 27381926,
 27381974,
 27382028,
 27382088,
 27401804,
 27401840,
 27402038,
 27402128,
 27421740,
 27421762,
 27421780,
 27421902,
 27422006,
 27422010,
 27461842,
 27461868,
 27461878,
 27461892,
 27462000,
 27462022,
 27462072,
 27462138,
 27481828,
 27481840,
 27481894,
 27481972,
 27482128,
 27501780,
 27501802,
 27501892,
 27521862,
 27521880,
 27522042,
 27522096,
 27522114,
 27541756,
 27541792,
 27541810,
 27541828,
 27541930,
 27542110,
 27561764,
 27561812,
 27561862,
 27561920,
 27561952,
 27561980,
 27561988,
 27562046,
 27562118,
 27562136,
 27601758,
 27601790,
 27601794,
 27601844,
 27601942,
 27602032,
 27602150,
 27621936,
 27622062,
 27641752,
 27641832,
 27641878,
 27641896,
 27641914,
 27642102,
 27642156,
 27661792,
 27661882,
 27662020,
 27681762,
 27681924,
 27681946,
 27682000,
 27682212,
 27701754,
 27701848,
 27702222,
 27721828,
 27722026,
 27722056,
 27722080,
 27722128,
 27722228,
 27722242,
 27741830,
 27741866,
 27741890,
 27741908,
 27742232,
 27742276,
 27742358,
 27742394,
 27742406,
 27762200,
 27762242,
 27762290,
 27781794,
 27781812,
 27781884,
 27781902,
 27781996,
 27782150,
 27782158,
 27782168,
 27782284,
 27782388,
 27801810,
 27802116,
 27802188,
 27802242,
 27821832,
 27821838,
 27821842,
 27821886,
 27821932,
 27821982,
 27822210,
 27841822,
 27841840,
 27841900,
 27842206,
 27842308,
 27842394,
 27842416,
 27862032,
 27862072,
 27881758,
 27881848,
 27881902,
 27881934,
 27881938,
 27882010,
 27882226,
 27882298,
 27882370,
 27882384,
 27882424,
 27901822,
 27901900,
 27901954,
 27901972,
 27902146,
 27902200,
 27902332,
 27921800,
 27921848,
 27921944,
 27921970,
 27922046,
 27922096,
 27922124,
 27922190,
 27922208,
 27922244,
 27922352,
 27922412,
 27942164,
 27942398,
 27942422,
 27961830,
 27961888,
 27961906,
 27961960,
 27961978,
 27962194,
 27962240,
 27962388,
 27962406,
 27981792,
 27981828,
 27981900,
 27981936,
 27981972,
 27982170,
 27982224,
 27982314,
 27982368,
 28001832,
 28002012,
 28002400,
 28021894,
 28021948,
 28022034,
 28022110,
 28022134,
 28022146,
 28022250,
 28022290,
 28022380,
 28022434,
 28041838,
 28041892,
 28041928,
 28041942,
 28041960,
 28041996,
 28042122,
 28042126,
 28042176,
 28042216,
 28061844,
 28061866,
 28061934,
 28062190,
 28062298,
 28062316,
 28062352,
 28081882,
 28082152,
 28082380,
 28082404,
 28101854,
 28101926,
 28102060,
 28102100,
 28102114,
 28102388,
 28102420,
 28121858,
 28121966,
 28122020,
 28122416,
 28141762,
 28142050,
 28142186,
 28142338,
 28142384,
 28162314,
 28162332,
 28181850,
 28181910,
 28181964,
 28182018,
 28182048,
 28182148,
 28182418,
 28201840,
 28201930,
 28201948,
 28202116,
 28202128,
 28202160,
 28202196,
 28202386,
 28222086,
 28222270,
 28222342,
 28222360,
 28222378,
 28241746,
 28241938,
 28242028,
 28242042,
 28242186,
 28242240,
 28242420,
 28261954,
 28261972,
 28262056,
 28262080,
 28262098,
 28262354,
 28281952,
 28282042,
 28282118,
 28282136,
 28282190,
 28282334,
 28301756,
 28301966,
 28302038,
 28302110,
 28302314,
 28302332,
 28321740,
 28321934,
 28321942,
 28321960,
 28321988,
 28322046,
 28322176,
 28322384,
 28322424,
 28342404,
 28361748,
 28361986,
 28362030,
 28362076,
 28362148,
 28362162,
 28362166,
 28362174,
 28362220,
 28362282,
 28362306,
 28362360,
 28362378,
 28362414,
 28381858,
 28381912,
 28382062,
 28382160,
 28382268,
 28382290,
 28382362,
 28401924,
 28402018,
 28402054,
 28402306,
 28402378,
 28421754,
 28422060,
 28422114,
 28422316,
 28422424,
 28441774,
 28442038,
 28442146,
 28442182,
 28442408,
 28442422,
 28461908,
 28462070,
 28462190,
 28462348,
 28482206,
 28482290,
 28482326,
 28482350,
 28482368,
 28482386,
 28482404,
 28501736,
 28502024,
 28502140,
 28502190,
 28502212,
 28502280,
 28502334,
 28522026,
 28541874,
 28541964,
 28542018,
 28542066,
 28542076,
 28542144,
 28542166,
 28542192,
 28542210,
 28542246,
 28542282,
 28542300,
 28542318,
 28542382,
 28542426,
 28562034,
 28562224,
 28562290,
 28562308,
 28562376,
 28562440,
 28581744,
 28582036,
 28582198,
 28582414,
 28601668,
 28602150,
 28602222,
 28602240,
 28602258,
 28602334,
 28602366,
 28621900,
 28622128,
 28622164,
 28622188,
 28622326,
 28642024,
 28642124,
 28642160,
 28642168,
 28642186,
 28642190,
 28642240,
 28642250,
 28642352,
 28642366,
 28661678,
 28661894,
 28662074,
 28662146,
 28662242,
 28662272,
 28662332,
 28681916,
 28682082,
 28682136,
 28682284,
 28682298,
 28682348,
 28682428,
 28701666,
 28702278,
 28721676,
 28721734,
 28721752,
 28721896,
 28721914,
 28721932,
 28722000,
 28722138,
 28722166,
 28722202,
 28722216,
 28722300,
 28722310,
 28741666,
 28741750,
 28741912,
 28742026,
 28742034,
 28742116,
 28742142,
 28742214,
 28742296,
 28742340,
 28742344,
 28742394,
 28742448,
 28761622,
 28761726,
 28761906,
 28762036,
 28762162,
 28762194,
 28762198,
 28762270,
 28762288,
 28762374,
 28781686,
 28781920,
 28782006,
 28782100,
 28782118,
 28782132,
 28782172,
 28782204,
 28782240,
 28782280,
 28782298,
 28782334,
 28782352,
 28782384,
 28782402,
 28801616,
 28801634,
 28802092,
 28802368,
 28802416,
 28821646,
 28821746,
 28821836,
 28821898,
 28821992,
 28822118,
 28822226,
 28822420,
 28822438,
 28822448,
 28822460,
 28841702,
 28841714,
 28842092,
 28842188,
 28842200,
 28842314,
 28842386,
 28861736,
 28861884,
 28862114,
 28862140,
 28862248,
 28882332,
 28882422,
 28901658,
 28901724,
 28901850,
 28901914,
 28902084,
 28902094,
 28902148,
 28902174,
 28902202,
 28902396,
 28921648,
 28921674,
 28921678,
 28921696,
 28921702,
 28921714,
 28921756,
 28921858,
 28921890,
 28921908,
 28922200,
 28922404,
 28941672,
 28941694,
 28941730,
 28941834,
 28941870,
 28941888,
 28942306,
 28942378,
 28961740,
 28961862,
 28961916,
 28962222,
 28962240,
 28962348,
 28962388,
 28962406,
 28962438,
 28981702,
 28981714,
 28981732,
 28981750,
 28982444,
 28982458,
 29001674,
 29001686,
 29001700,
 29001710,
 29001728,
 29001862,
 29001908,
 29002312,
 29002366,
 29002376,
 29002384,
 29002402,
 29002406,
 29021660,
 29021666,
 29021750,
 29021756,
 29021822,
 29022110,
 29022146,
 29022398,
 29022422,
 29041690,
 29041708,
 29041718,
 29041754,
 29041844,
 29041862,
 29041870,
 29041888,
 29041898,
 29042132,
 29042158,
 29042168,
 29042302,
 29042356,
 29042420,
 29042438,
 29061990,
 29062134,
 29062458,
 29081716,
 29081976,
 29082210,
 29082220,
 29082238,
 29082342,
 29082382,
 29082418,
 29101954,
 29102206,
 29102326,
 29122076,
 29122112,
 29122176,
 29122266,
 29122288,
 29122342,
 29122396,
 29122450,
 29141746,
 29142088,
 29142114,
 29142438,
 29161684,
 29161724,
 29161738,
 29162146,
 29162278,
 29181692,
 29181710,
 29181758,
 29181830,
 29181908,
 29182100,
 29182186,
 29182358,
 29201666,
 29201738,
 29202138,
 29202350,
 29221700,
 29221704,
 29221852,
 29222168,
 29222204,
 29222392,
 29241720,
 29242332,
 29261662,
 29261706,
 29261730,
 29261748,
 29261832,
 29262144,
 29262306,
 29281750,
 29281840,
 29281846,
 29281972,
 29282088,
 29282160,
 29282182,
 29282362,
 29301690,
 29301726,
 29302094,
 29302230,
 29321682,
 29322088,
 29322114,
 29322384,
 29322406,
 29322442,
 29341684,
 29341696,
 29341706,
 29341742,
 29341840,
 29341948,
 29341966,
 29342128,
 29342170,
 29342200,
 29342206,
 29342404,
 29342422,
 29342440,
 29361700,
 29361718,
 29361826,
 29361938,
 29361970,
 29362142,
 29362376,
 29381732,
 29381756,
 29382110,
 29382188,
 29382218,
 29401708,
 29401744,
 29401920,
 29401924,
 29401956,
 29402104,
 29402144,
 29402158,
 29402410,
 29421720,
 29421828,
 29422368,
 29422386,
 29441742,
 29441752,
 29441976,
 29442364,
 29461720,
 29461732,
 29461840,
 29461854,
 29461926,
 29462056,
 29462178,
 29462422,
 29481730,
 29481906,
 29481960,
 29482162,
 29482396,
 29482428,
 29501736,
 29501830,
 29502304,
 29502412,
 29521732,
 29521756,
 29521760,
 29521930,
 29521972,
 29522188,
 29522200,
 29541718,
 29541836,
 29541862,
 29541898,
 29541908,
 29542060,
 29561738,
 29561750,
 29561840,
 29561984,
 29562218,
 29562318,
 29562426,
 29581834,
 29581852,
 29581924,
 29581938,
 29581942,
 29582100,
 29582204,
 29582312,
 29602142,
 29621748,
 29621878,
 29621976,
 29622234,
 29641894,
 29642098,
 29642200,
 29642308,
 29642326,
 29661672,
 29661762,
 29662194,
 29662216,
 29681740,
 29681844,
 29681862,
 29681884,
 29681938,
 29682168,
 29682214,
 29701706,
 29701714,
 29701724,
 29701732,
 29701738,
 29701918,
 29701972,
 29702110,
 29702138,
 29702162,
 29702386,
 29721718,
 29721740,
 29721830,
 29721848,
 29721970,
 29722178,
 29722186,
 29722312,
 29741732,
 29741756,
 29742308,
 29761754,
 29761862,
 29761880,
 29761934,
 29761960,
 29762162,
 29762168,
 29781702,
 29781738,
 29782170,
 29782206,
 29782340,
 29801730,
 29801824,
 29802216,
 29821720,
 29821768,
 29822326,
 29822380,
 29842122,
 29842170,
 29861830,
 29862118,
 29862316,
 29862388,
 29881678,
 29881742,
 29881822,
 29882084,
 29882126,
 29882408,
 29901692,
 29901728,
 29902268,
 29921720,
 29921750,
 29921768,
 29921810,
 29922134,
 29922218,
 29941668,
 29941704,
 29941718,
 29941866,
 29941888,
 29941916,
 29942176,
 29942204,
 29942392,
 29961846,
 29962106,
 29962200,
 29962260,
 29962290,
 29981716,
 29981730,
 29981832,
 29981842,
 29981914,
 29982076,
 29982144,
 29982166,
 29982180,
 29982246,
 30001684,
 30001728,
 30001738,
 30001768,
 30001836,
 30002092,
 30002236,
 30002272,
 30002290,
 30002386,
 30002398,
 30002416,
 30021708,
 30021820,
 30021910,
 30022068,
 30022086,
 30022122,
 30022184,
 30022270,
 30022296,
 30022410,
 30041718,
 30042136,
 30042190,
 30042214,
 30042222,
 30042244,
 30061648,
 30061684,
 30061696,
 30061750,
 30061796,
 ...]

In [ ]:
for x in

<h1>On 2015 Data</h1>

<h2>On 2015 Soil Data</h2>


Columns:
<br> 'Point_ID', 'Revisited_point',
<br> 'Coarse', 'Clay', 'Sand', 'Silt',
<br> 'pH(CaCl2)', 'pH(H2O)', 'EC', 'OC', 'CaCO3', 'P', 'N', 'K',
<br> 'Elevation', 'LC1', 'LU1', 'Soil_Stones',
<br> 'NUTS_0', 'NUTS_1', 'NUTS_2', 'NUTS_3',
<br> 'LC1_Desc', 'LU1_Desc'


Check through points ID to ensure the LONG LAT are the same
Drop 'Soil_Stones'

'Elevation' goes into location information

<h1>On 2018 Data</h1>

<h2>On 2018 Erosion Data</h2>

Columns:
POINT_ID,SURVEY_EROSION_SIGNS,SURVEY_EROSION_SHEET,
SURVEY_EROSION_SHEET_P,SURVEY_EROSION_SHEET_N,SURVEY_EROSION_SHEET_E,SURVEY_EROSION_SHEET_S,SURVEY_EROSION_SHEET_W,
SURVEY_EROSION_SHEET_NR,SURVEY_EROSION_SHEET_N_DIST_M,SURVEY_EROSION_SHEET_E_DIST_M,SURVEY_EROSION_SHEET_S_DIST_M,SURVEY_EROSION_SHEET_W_DIST_M,
SURVEY_EROSION_RILL,SURVEY_EROSION_RILL_P,SURVEY_EROSION_RILL_N,SURVEY_EROSION_RILL_E,SURVEY_EROSION_RILL_W,SURVEY_EROSION_RILL_S,
SURVEY_EROSION_RILL_NR,SURVEY_EROSION_RILL_N_DIST_M,SURVEY_EROSION_RILL_E_DIST_M,SURVEY_EROSION_RILL_S_DIST_M,SURVEY_EROSION_RILL_W_DIST_M,
SURVEY_EROSION_GULLY,SURVEY_EROSION_GULLY_P,SURVEY_EROSION_GULLY_N,SURVEY_EROSION_GULLY_E,SURVEY_EROSION_GULLY_S,SURVEY_EROSION_GULLY_W,SURVEY_EROSION_GULLY_NR,SURVEY_EROSION_GULLY_N_DIST_M,SURVEY_EROSION_GULLY_E_DIST_M,SURVEY_EROSION_GULLY_S_DIST_M,SURVEY_EROSION_GULLY_W_DIST_M,
SURVEY_EROSION_MASS,SURVEY_EROSION_MASS_P,SURVEY_EROSION_MASS_N,SURVEY_EROSION_MASS_E,SURVEY_EROSION_MASS_S,SURVEY_EROSION_MASS_W,SURVEY_EROSION_MASS_NR,
SURVEY_EROSION_MASS_N_DIST_M,SURVEY_EROSION_MASS_E_DIST_M,SURVEY_EROSION_MASS_S_DIST_M,SURVEY_EROSION_MASS_W_DIST_M,SURVEY_EROSION_DEP,SURVEY_EROSION_DEP_P,SURVEY_EROSION_DEP_N,SURVEY_EROSION_DEP_E,SURVEY_EROSION_DEP_S,SURVEY_EROSION_DEP_W,SURVEY_EROSION_DEP_NR,SURVEY_EROSION_DEP_N_DIST_M,SURVEY_EROSION_DEP_E_DIST_M,SURVEY_EROSION_DEP_S_DIST_M,SURVEY_EROSION_DEP_W_DIST_M,SURVEY_EROSION_WIND,SURVEY_EROSION_WIND_P,SURVEY_EROSION_WIND_N,SURVEY_EROSION_WIND_E,SURVEY_EROSION_WIND_S,SURVEY_EROSION_WIND_W,SURVEY_EROSION_WIND_NR,SURVEY_EROSION_WIND_N_DIST_M,SURVEY_EROSION_WIND_E_DIST_M,SURVEY_EROSION_WIND_S_DIST_M,SURVEY_EROSION_WIND_W_DIST_M,SURVEY_EROSION_RILLGULLY_N

To note:
SURVEY_EROSION_SHEET = empty col to remove
All with no PNSEW attached and _NR = all empty cols to remove

POINT_ID,SURVEY_EROSION_SIGNS,
SURVEY_EROSION_SHEET_P,SURVEY_EROSION_SHEET_N,SURVEY_EROSION_SHEET_E,SURVEY_EROSION_SHEET_S,SURVEY_EROSION_SHEET_W,
SURVEY_EROSION_SHEET_N_DIST_M,SURVEY_EROSION_SHEET_E_DIST_M,SURVEY_EROSION_SHEET_S_DIST_M,SURVEY_EROSION_SHEET_W_DIST_M,
SURVEY_EROSION_RILL_P,SURVEY_EROSION_RILL_N,SURVEY_EROSION_RILL_E,SURVEY_EROSION_RILL_W,SURVEY_EROSION_RILL_S,
SURVEY_EROSION_RILL_N_DIST_M,SURVEY_EROSION_RILL_E_DIST_M,SURVEY_EROSION_RILL_S_DIST_M,SURVEY_EROSION_RILL_W_DIST_M,
SURVEY_EROSION_GULLY_P,SURVEY_EROSION_GULLY_N,SURVEY_EROSION_GULLY_E,SURVEY_EROSION_GULLY_S,SURVEY_EROSION_GULLY_W,SURVEY_EROSION_GULLY_N_DIST_M,SURVEY_EROSION_GULLY_E_DIST_M,SURVEY_EROSION_GULLY_S_DIST_M,SURVEY_EROSION_GULLY_W_DIST_M,
SURVEY_EROSION_MASS_P,SURVEY_EROSION_MASS_N,SURVEY_EROSION_MASS_E,SURVEY_EROSION_MASS_S,SURVEY_EROSION_MASS_W,
SURVEY_EROSION_MASS_N_DIST_M,SURVEY_EROSION_MASS_E_DIST_M,SURVEY_EROSION_MASS_S_DIST_M,SURVEY_EROSION_MASS_W_DIST_M,SURVEY_EROSION_DEP_P,SURVEY_EROSION_DEP_N,SURVEY_EROSION_DEP_E,SURVEY_EROSION_DEP_S,SURVEY_EROSION_DEP_W,SURVEY_EROSION_DEP_N_DIST_M,SURVEY_EROSION_DEP_E_DIST_M,SURVEY_EROSION_DEP_S_DIST_M,SURVEY_EROSION_DEP_W_DIST_M,SURVEY_EROSION_WIND_P,SURVEY_EROSION_WIND_N,SURVEY_EROSION_WIND_E,SURVEY_EROSION_WIND_S,SURVEY_EROSION_WIND_W,SURVEY_EROSION_WIND_N_DIST_M,SURVEY_EROSION_WIND_E_DIST_M,SURVEY_EROSION_WIND_S_DIST_M,SURVEY_EROSION_WIND_W_DIST_M,SURVEY_EROSION_RILLGULLY_N

In [117]:
df_ero = lucas_erosion_data.loc[:,["POINT_ID","SURVEY_EROSION_SIGNS",
                                    "SURVEY_EROSION_SHEET_P","SURVEY_EROSION_SHEET_N","SURVEY_EROSION_SHEET_E","SURVEY_EROSION_SHEET_S","SURVEY_EROSION_SHEET_W","SURVEY_EROSION_SHEET_N_DIST_M","SURVEY_EROSION_SHEET_E_DIST_M","SURVEY_EROSION_SHEET_S_DIST_M","SURVEY_EROSION_SHEET_W_DIST_M",
                                    "SURVEY_EROSION_RILL_P","SURVEY_EROSION_RILL_N","SURVEY_EROSION_RILL_E","SURVEY_EROSION_RILL_W","SURVEY_EROSION_RILL_S","SURVEY_EROSION_RILL_N_DIST_M","SURVEY_EROSION_RILL_E_DIST_M","SURVEY_EROSION_RILL_S_DIST_M","SURVEY_EROSION_RILL_W_DIST_M",
                                    "SURVEY_EROSION_GULLY_P","SURVEY_EROSION_GULLY_N","SURVEY_EROSION_GULLY_E","SURVEY_EROSION_GULLY_S","SURVEY_EROSION_GULLY_W","SURVEY_EROSION_GULLY_N_DIST_M","SURVEY_EROSION_GULLY_E_DIST_M","SURVEY_EROSION_GULLY_S_DIST_M","SURVEY_EROSION_GULLY_W_DIST_M",
                                    "SURVEY_EROSION_MASS_P","SURVEY_EROSION_MASS_N","SURVEY_EROSION_MASS_E","SURVEY_EROSION_MASS_S","SURVEY_EROSION_MASS_W","SURVEY_EROSION_MASS_N_DIST_M","SURVEY_EROSION_MASS_E_DIST_M","SURVEY_EROSION_MASS_S_DIST_M","SURVEY_EROSION_MASS_W_DIST_M",
                                    "SURVEY_EROSION_DEP_P","SURVEY_EROSION_DEP_N","SURVEY_EROSION_DEP_E","SURVEY_EROSION_DEP_S","SURVEY_EROSION_DEP_W","SURVEY_EROSION_DEP_N_DIST_M","SURVEY_EROSION_DEP_E_DIST_M","SURVEY_EROSION_DEP_S_DIST_M","SURVEY_EROSION_DEP_W_DIST_M",
                                    "SURVEY_EROSION_WIND_P","SURVEY_EROSION_WIND_N","SURVEY_EROSION_WIND_E","SURVEY_EROSION_WIND_S","SURVEY_EROSION_WIND_W","SURVEY_EROSION_WIND_N_DIST_M","SURVEY_EROSION_WIND_E_DIST_M","SURVEY_EROSION_WIND_S_DIST_M","SURVEY_EROSION_WIND_W_DIST_M","SURVEY_EROSION_RILLGULLY_N"]]

In [15]:
lucas_2015_soil_data.columns

Index(['Point_ID', 'Revisited_point', 'Coarse', 'Clay', 'Sand', 'Silt',
       'pH(CaCl2)', 'pH(H2O)', 'EC', 'OC', 'CaCO3', 'P', 'N', 'K', 'Elevation',
       'LC1', 'LU1', 'Soil_Stones', 'NUTS_0', 'NUTS_1', 'NUTS_2', 'NUTS_3',
       'LC1_Desc', 'LU1_Desc'],
      dtype='object')

In [17]:
df_2015 = lucas_2015_soil_data.loc[:, ['Point_ID','pH(CaCl2)', 'EC', 'OC', 'CaCO3', 'P', 'N', 'K', 'Elevation',
       'LC1', 'LU1']]
df_2015

,Point_ID,pH(CaCl2),EC,OC,CaCO3,P,N,K,Elevation,LC1,LU1
0,34103754,3.9,44.20,25.5,0,42.9,2.8,24.6,158,H11,U420
1,34443774,3.1,46.40,503.5,0,164.9,19.9,460.3,500,H12,U420
2,35163814,4.9,15.85,51.4,0,26.9,4.3,173.2,404,H11,U420
3,32323656,3.0,26.90,470.3,0,102.8,16.1,313.0,364,H12,U150
4,34463934,3.9,28.40,43.1,1,6.3,2.3,38.6,315,D20,U111
...,...,...,...,...,...,...,...,...,...,...,...
21854,45402772,6.9,81.00,49.9,8,49.3,5.6,200.1,477,E20,U111
21855,47722672,5.7,22.30,19.4,0,58.0,2.4,244.9,323,E20,U111
21856,45882618,6.8,65.10,53.9,3,16.6,5.9,90.0,630,E20,U111
21857,45342706,6.0,30.70,24.2,0,4.6,3.2,32.7,719,E20,U111
21858,47742660,4.2,7.30,26.0,0,9.6,2.2,162.0,344,C10,U120

In [18]:
df_2015.columns

Index(['Point_ID', 'pH(CaCl2)', 'EC', 'OC', 'CaCO3', 'P', 'N', 'K',
       'Elevation', 'LC1', 'LU1'],
      dtype='object')

In [20]:
df_2015.rename({'Point_ID': 'point_id',
                'pH(CaCl2)': 'ph_2015',
                'EC': 'ec_2015',
                'OC': 'oc_2015',
                'CaCO3': 'caco3_2015',
                'P': 'p_2015',
                'N': 'n_2015',
                'K': 'k_2015',
                'Elevation': 'elevation_2015',
                'LC1': 'lc1_2015',
                'LU1': 'lu1_2015'}, axis='columns', inplace=True)
df_2015

,point_id,ph_2015,ec_2015,oc_2015,caco3_2015,p_2015,n_2015,k_2015,elevation_2015,lc1_2015,lu1_2015
0,34103754,3.9,44.20,25.5,0,42.9,2.8,24.6,158,H11,U420
1,34443774,3.1,46.40,503.5,0,164.9,19.9,460.3,500,H12,U420
2,35163814,4.9,15.85,51.4,0,26.9,4.3,173.2,404,H11,U420
3,32323656,3.0,26.90,470.3,0,102.8,16.1,313.0,364,H12,U150
4,34463934,3.9,28.40,43.1,1,6.3,2.3,38.6,315,D20,U111
...,...,...,...,...,...,...,...,...,...,...,...
21854,45402772,6.9,81.00,49.9,8,49.3,5.6,200.1,477,E20,U111
21855,47722672,5.7,22.30,19.4,0,58.0,2.4,244.9,323,E20,U111
21856,45882618,6.8,65.10,53.9,3,16.6,5.9,90.0,630,E20,U111
21857,45342706,6.0,30.70,24.2,0,4.6,3.2,32.7,719,E20,U111
21858,47742660,4.2,7.30,26.0,0,9.6,2.2,162.0,344,C10,U120

In [21]:
df_2015.to_csv("df_2015.csv", index=False)

In [23]:
lucas_2009_soil_data.columns

Index(['POINT_ID', 'sample_ID', 'X_LAEA', 'Y_LAEA', 'coarse', 'clay', 'silt',
       'sand', 'pH_in_H2O', 'pH_in_CaCl', 'OC', 'CaCO3', 'N', 'P_x', 'K',
       'CEC', 'Notes', 'GPS_LAT', 'GPS_LONG', 'X', 'Country', 'PTotal',
       'Corine_LU', 'coords_x1', 'coords_x2', 'SURV_DATE', 'LC1', 'LC-parent',
       'LC-Group', 'LC2', 'OBS_RADIUS', 'LU1', 'LU2', 'LC1_SPECIE',
       'LC1_PERCEN', 'LC2_SPECIE', 'LC2_PERCEN', 'AREA_SIZE', 'TREES_HEIG',
       'FEATURES_W', 'LAND_MNGT', 'WM_WATER_M', 'WM_SRC_IRR', 'WM_TYP_IRR',
       'WM_DELIVER', 'SOIL_SURVE', 'SOIL_PLOUG', 'SOIL_CROP', 'SOIL_STONE',
       'STRATA', 'STRATA2', 'nuts3', 'nuts0', 'area0', 'nuts1', 'area1',
       'nuts2', 'area2', 'area3', 'Transect', 'CLIMANR', 'MAIN_CLIMA', 'LC',
       'lc_GROUP', 'WRB_COD', 'AnnualPrec', 'WRB_LV1', 'ParMat1', 'ParMat2',
       'Elevation(m)', 'slope (Degrees)', 'LONG', 'LAT', 'geom_X', 'geom_Y'],
      dtype='object')

In [26]:
df_2009 = lucas_2009_soil_data.loc[:, ['POINT_ID', 'pH_in_CaCl', 'OC', 'CaCO3', 'PTotal', 'N', 'K','Elevation(m)',
       'LC1', 'LU1']]

In [28]:
df_2009.columns

Index(['POINT_ID', 'pH_in_CaCl', 'OC', 'CaCO3', 'PTotal', 'N', 'K',
       'Elevation(m)', 'LC1', 'LU1'],
      dtype='object')

In [33]:
df_2009.rename({'POINT_ID': 'point_id',
                 'pH_in_CaCl': 'ph_2009',
                 'OC': 'oc_2009',
                 'CaCO3': 'caco3_2009',
                 'PTotal': 'p_2009',
                 'N': 'n_2009',
                 'K': 'k_2009',
                 'Elevation(m)': 'elevation_2009',
                 'LC1': 'lc1_2009',
                 'LU1': 'lu1_2009'}, axis='columns', inplace=True)
df_2009

,point_id,ph_2009,oc_2009,caco3_2009,p_2009,n_2009,k_2009,elevation_2009,lc1_2009,lu1_2009
0,26521974,3.75,76.5,0.0,126.21,3.2,80.1,150,D10,U400
1,26561964,6.81,25.3,7.0,367.16,2.2,159.8,154,B16,U111
2,26581768,6.96,56.9,56.0,1419.24,5.2,884.0,56,E30,U400
3,26581792,5.43,19.7,2.0,245.45,2.0,118.9,16,D20,U400
4,26581954,7.52,14.5,128.0,349.92,1.4,227.0,182,B41,U113
...,...,...,...,...,...,...,...,...,...,...
21676,90000001,7.17,11.5,10.0,1170.00,1.3,882.4,45,B,MISSING
21677,90000002,7.38,7.1,15.0,1297.00,1.1,967.2,48,B,MISSING
21678,90000003,7.45,16.0,60.0,939.00,1.4,215.6,89,B,MISSING
21679,90000004,7.54,16.3,91.0,545.00,1.4,276.4,55,B,MISSING
21680,90000005,7.50,23.4,88.0,497.00,2.2,336.5,51,B,MISSING

In [34]:
df_2009.to_csv("df_2009.csv", index=False)

In [36]:
path_2018 = "..\..\data\df_2018_with_bd_org_erosion.csv"
df_2018 = pd.read_csv(path_2018, delimiter=",")
df_2018

,point_id,ph_2018,ec_2018,oc_2018,caco3_2018,p_2018,n_2018,k_2018,elevation_2018,lc1_2018,lu1_2018,bd_0_10,bd_10_20,survey_soil_org_cultivated,survey_erosion_signs
0,47862690,4.1,8.73,12.4,3,< LOD,1.1,101.9,291,C23,U120,NaN,NaN,NaN,NaN
1,47882704,4.1,5.06,16.7,1,< LOD,1.3,51.2,373,C21,U120,NaN,NaN,NaN,NaN
2,47982688,4.1,12.53,47.5,1,12.3,3.1,114.8,246,C33,U120,NaN,NaN,NaN,NaN
3,48022702,5.5,21.10,28.1,3,< LOD,2,165.8,305,C22,U120,NaN,NaN,NaN,NaN
4,48062708,6.1,10.89,19.4,2,< LOD,2.2,42.1,335,C22,U120,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18739,32643634,6.0,91.40,51.4,2,92.2,5.3,1036.9,50,E20,U111,NaN,NaN,NaN,NaN
18740,32703676,4.9,51.78,73.9,NaN,81.6,6.9,225,34,B55,U111,NaN,NaN,NaN,NaN
18741,32783608,5.5,22.40,63.7,1,101.9,6.7,569.5,50,E20,U111,NaN,NaN,NaN,NaN
18742,32783636,5.3,10.42,38.3,1,7.3,3.1,1907.9,122,E20,U370,NaN,NaN,NaN,NaN
18743,33023682,4.7,141.70,98.7,1,33.7,10.1,231.1,143,E20,U111,0.423,0.707,2.0,NaN

In [39]:
df_2018 = df_2018.loc[:, ['point_id', 'ph_2018', 'ec_2018', 'oc_2018', 'caco3_2018', 'p_2018',
       'n_2018', 'k_2018', 'elevation_2018', 'lc1_2018', 'lu1_2018', 'bd_0_10',
       'bd_10_20', 'survey_erosion_signs']]

Index(['point_id', 'ph_2018', 'ec_2018', 'oc_2018', 'caco3_2018', 'p_2018',
       'n_2018', 'k_2018', 'elevation_2018', 'lc1_2018', 'lu1_2018', 'bd_0_10',
       'bd_10_20', 'survey_soil_org_cultivated', 'survey_erosion_signs'],
      dtype='object')

df_ero contains 879 rows of data, over 57 columns of erosion related fields (5 ea - P,N,S,E,W)

<h2>On 2018 Organic Topsoil Data</h2>

A measure of 'how much' organic soil there is

_**Caution**_: The shp files for organic soil data is not included, but the locations have been skewed towards "mineral soils with well-developed organic horizons or that peatlands have been eroded back to the underlying mineral base"
(_JRC Report 2018, Pg 27_)

Columns:
'POINT_ID', 'SURVEY_SOIL_ORG_CULTIVATED', 'SURVEY_SOIL_ORG_DEPTH_P_CM',
'SURVEY_SOIL_ORG_DEPTH_N_CM', 'SURVEY_SOIL_ORG_DEPTH_E_CM',
'SURVEY_SOIL_ORG_DEPTH_S_CM', 'SURVEY_SOIL_ORG_DEPTH_W_CM',
'SURVEY_SOIL_ORG_DEPTH_P_40_CM', 'SURVEY_SOIL_ORG_DEPTH_N_40_CM',
'SURVEY_SOIL_ORG_DEPTH_E_40_CM', 'SURVEY_SOIL_ORG_DEPTH_S_40_CM',
'SURVEY_SOIL_ORG_DEPTH_W_40_CM', 'SURVEY_SOIL_ORG_TAKEN',
'SURVEY_SOIL_ORG_DEPTH_CANDO'

_40_CM = binary of whether the organic depth of soil is more than 40 cm, sometimes the info can be found in >40, some times in the individual measurements. Sometimes they contradict.

'SURVEY_SOIL_ORG_TAKEN' = empty field. drop
SURVEY_SOIL_ORG_DEPTH_CANDO = to be omitted as all of the data is there. i.e. 1050 records have cando as 1

In [143]:
df_org = lucas_organic_data.copy()
df_org.drop(['SURVEY_SOIL_ORG_TAKEN','SURVEY_SOIL_ORG_DEPTH_CANDO'], axis=1, inplace=True)
df_org

,POINT_ID,SURVEY_SOIL_ORG_CULTIVATED,SURVEY_SOIL_ORG_DEPTH_P_CM,SURVEY_SOIL_ORG_DEPTH_N_CM,SURVEY_SOIL_ORG_DEPTH_E_CM,SURVEY_SOIL_ORG_DEPTH_S_CM,SURVEY_SOIL_ORG_DEPTH_W_CM,SURVEY_SOIL_ORG_DEPTH_P_40_CM,SURVEY_SOIL_ORG_DEPTH_N_40_CM,SURVEY_SOIL_ORG_DEPTH_E_40_CM,SURVEY_SOIL_ORG_DEPTH_S_40_CM,SURVEY_SOIL_ORG_DEPTH_W_40_CM
0,27602150,1,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
1,27842394,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,1.0,0.0
2,27842416,2,18.0,23.0,NaN,21.0,NaN,0.0,0.0,0.0,0.0,0.0
3,27942164,2,23.0,16.0,18.0,20.0,14.0,0.0,0.0,0.0,0.0,0.0
4,28002400,1,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1045,54203812,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
1046,54223834,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
1047,54263840,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN
1048,54761846,2,19.0,16.0,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
1049,55061782,2,20.0,15.0,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN

<h3>Calculations on Organic Soil Data</h3>

Comparison with Mean and Std Dev of Organic Carbon (by **Climatic Zone** as well) is required
(_JRC Report 2018, Page 47_)

To be matched (POINT_ID to NUTS0,1,2,3) data, binned to the climatic zones

In [ ]:
pass

<h2>On 2018 Bulk Density Data</h2>
Bulk Density is an indicator of 'porous-ness' of soil. With denser top soil (0-10 cm or 10-20 cm) than deeper soil (10-20 cm or 20-30 cm)
The Denser a soil bulk density at the top, the increased chance of soil erosion

<a href="https://www.emnz.com/blogs/news/the-effect-of-the-soils-bulk-density#:~:text=Problems%20associated%20with%20a%20High%20Soil%20Bulk%20Density&text=It%20also%20affects%20soil%20aeration,waterlogged%20soils%20in%20flatter%20areas.">EMNZ Webpage</a>

However, "cultivation destroys soil organic matter and weakens the natural stability of soil aggregates making
them susceptible to damage caused by water and wind. When eroded soil particles fill pore space, porosity is
reduced and bulk density increases. Cultivation can result in compacted soil layers with increased bulk density, most notably, a plow pan"

"By reducing water infiltration into the soil, compaction can lead to increased runoff and erosion from sloping land or waterlogged soils in flatter areas. In general, some soil compaction to restrict water movement through the soil profile is  beneficial under arid conditions, but under humid conditions compaction decreases yields"

_It is dependent on climate of the zone. In wetter places, soil should be **porous (low BD)** for **lower erosion**_

<a href="https://cafnr.missouri.edu/wp-content/uploads/2016/09/bulk-density.pdf">Soil Quality Indicators by USDA</a>