<h1>Load 2018 data </h1>

In [3]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df_2009_path = "..\df_2009.csv"
df_2015_path = "..\df_2015.csv"
df_2018_path = "..\df_2018_with_bd_erosion.csv"

In [7]:
df_2009 = pd.read_csv(df_2009_path, delimiter=",")
df_2015 = pd.read_csv(df_2015_path, delimiter=",")
df_2018 = pd.read_csv(df_2018_path, delimiter=",")

In [8]:
df_2018

,point_id,ph_2018,ec_2018,oc_2018,caco3_2018,p_2018,n_2018,k_2018,elevation_2018,lc1_2018,lu1_2018,bd_0_10,bd_10_20,survey_erosion_signs
0,47862690,4.1,8.73,12.4,3,< LOD,1.1,101.9,291,C23,U120,NaN,NaN,NaN
1,47882704,4.1,5.06,16.7,1,< LOD,1.3,51.2,373,C21,U120,NaN,NaN,NaN
2,47982688,4.1,12.53,47.5,1,12.3,3.1,114.8,246,C33,U120,NaN,NaN,NaN
3,48022702,5.5,21.10,28.1,3,< LOD,2,165.8,305,C22,U120,NaN,NaN,NaN
4,48062708,6.1,10.89,19.4,2,< LOD,2.2,42.1,335,C22,U120,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18739,32643634,6.0,91.40,51.4,2,92.2,5.3,1036.9,50,E20,U111,NaN,NaN,NaN
18740,32703676,4.9,51.78,73.9,NaN,81.6,6.9,225,34,B55,U111,NaN,NaN,NaN
18741,32783608,5.5,22.40,63.7,1,101.9,6.7,569.5,50,E20,U111,NaN,NaN,NaN
18742,32783636,5.3,10.42,38.3,1,7.3,3.1,1907.9,122,E20,U370,NaN,NaN,NaN
18743,33023682,4.7,141.70,98.7,1,33.7,10.1,231.1,143,E20,U111,0.423,0.707,NaN

In [29]:
df_soil = pd.merge(df_2015, df_2018, how='outer', on='point_id')
df_soil

,point_id,ph_2015,ec_2015,oc_2015,caco3_2015,p_2015,n_2015,k_2015,elevation_2015,lc1_2015,...,caco3_2018,p_2018,n_2018,k_2018,elevation_2018,lc1_2018,lu1_2018,bd_0_10,bd_10_20,survey_erosion_signs
0,34103754,3.9,44.20,25.5,0.0,42.9,2.8,24.6,158.0,H11,...,NaN,40.2,2.9,61.5,108.0,H11,U420,NaN,NaN,NaN
1,34443774,3.1,46.40,503.5,0.0,164.9,19.9,460.3,500.0,H12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35163814,4.9,15.85,51.4,0.0,26.9,4.3,173.2,404.0,H11,...,NaN,18.7,3.6,126.6,352.0,E20,U111,NaN,NaN,NaN
3,32323656,3.0,26.90,470.3,0.0,102.8,16.1,313.0,364.0,H12,...,NaN,67.8,10.5,280.9,302.0,H12,U420,NaN,NaN,NaN
4,34463934,3.9,28.40,43.1,1.0,6.3,2.3,38.6,315.0,D20,...,1,18.3,9.7,243.1,267.0,D20,U111,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24042,32143620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,87.1,5.9,175.7,196.0,E20,U111,NaN,NaN,NaN
24043,32383644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,51.2,20.8,71,253.0,C21,U120,NaN,NaN,NaN
24044,32603672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.3,9.5,463.8,152.0,E20,U111,NaN,NaN,NaN
24045,32643634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,92.2,5.3,1036.9,50.0,E20,U111,NaN,NaN,NaN
24046,32783636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,7.3,3.1,1907.9,122.0,E20,U370,NaN,NaN,NaN

In [31]:
df_soil_total = pd.merge(df_soil, df_2009, how='outer', on='point_id')
df_soil_total

,point_id,ph_2015,ec_2015,oc_2015,caco3_2015,p_2015,n_2015,k_2015,elevation_2015,lc1_2015,...,survey_erosion_signs,ph_2009,oc_2009,caco3_2009,p_2009,n_2009,k_2009,elevation_2009,lc1_2009,lu1_2009
0,34103754,3.9,44.20,25.5,0.0,42.9,2.8,24.6,158.0,H11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34443774,3.1,46.40,503.5,0.0,164.9,19.9,460.3,500.0,H12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35163814,4.9,15.85,51.4,0.0,26.9,4.3,173.2,404.0,H11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,32323656,3.0,26.90,470.3,0.0,102.8,16.1,313.0,364.0,H12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34463934,3.9,28.40,43.1,1.0,6.3,2.3,38.6,315.0,D20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27695,90000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.17,11.5,10.0,1170.0,1.3,882.4,45.0,B,MISSING
27696,90000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.38,7.1,15.0,1297.0,1.1,967.2,48.0,B,MISSING
27697,90000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.45,16.0,60.0,939.0,1.4,215.6,89.0,B,MISSING
27698,90000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.54,16.3,91.0,545.0,1.4,276.4,55.0,B,MISSING
27699,90000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.50,23.4,88.0,497.0,2.2,336.5,51.0,B,MISSING

In [27]:
points_in_2015 = df_2015['point_id'].unique()
len(points_in_2015)

21859

In [40]:
points_soil = df_soil_total.loc[df_soil_total['ph_2015'].notnull() & df_soil_total['ph_2018'].notnull()]
points_soil

,point_id,ph_2015,ec_2015,oc_2015,caco3_2015,p_2015,n_2015,k_2015,elevation_2015,lc1_2015,...,survey_erosion_signs,ph_2009,oc_2009,caco3_2009,p_2009,n_2009,k_2009,elevation_2009,lc1_2009,lu1_2009
0,34103754,3.9,44.20,25.5,0.0,42.9,2.8,24.6,158.0,H11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35163814,4.9,15.85,51.4,0.0,26.9,4.3,173.2,404.0,H11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,32323656,3.0,26.90,470.3,0.0,102.8,16.1,313.0,364.0,H12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34463934,3.9,28.40,43.1,1.0,6.3,2.3,38.6,315.0,D20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,33983238,4.2,41.80,32.4,0.0,7.5,3.3,48.0,137.0,E20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21853,45542694,5.0,10.00,16.8,0.0,3.5,2.0,35.7,885.0,E20,...,NaN,5.75,36.6,2.0,1017.05,3.7,89.5,879.0,E20,U111
21854,45402772,6.9,81.00,49.9,8.0,49.3,5.6,200.1,477.0,E20,...,NaN,6.67,26.3,6.0,826.83,1.4,250.0,430.0,E20,U111
21856,45882618,6.8,65.10,53.9,3.0,16.6,5.9,90.0,630.0,E20,...,NaN,6.99,35.6,13.0,1202.65,3.5,58.6,619.0,E20,U111
21857,45342706,6.0,30.70,24.2,0.0,4.6,3.2,32.7,719.0,E20,...,NaN,5.66,24.5,1.0,940.35,2.9,41.1,710.0,E20,U111
21858,47742660,4.2,7.30,26.0,0.0,9.6,2.2,162.0,344.0,C10,...,NaN,4.18,25.5,0.0,911.54,1.9,146.5,342.0,C10,U120

In [41]:
df_soil_total.to_csv("merged_soil.csv", index=False)

(27700, 33)